<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scut.gof.coordinator"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- JPUSH Required  一些系统要求的权限，如访问网络等 -->
    <permission
        android:name="com.scut.gof.coordinator.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.scut.gof.coordinator.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <application
        android:name=".CooApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="AA_DB_NAME"
            android:value="coordinator.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />
        <meta-data
            android:name="AA_MODELS"
            android:value="com.scut.gof.coordinator.main.storage.model.MDAnnouncement,             com.scut.gof.coordinator.main.storage.model.Material,             com.scut.gof.coordinator.main.storage.model.Project,             com.scut.gof.coordinator.main.storage.model.RelaProject,             com.scut.gof.coordinator.main.storage.model.RelaTask,             com.scut.gof.coordinator.main.storage.model.Task,             com.scut.gof.coordinator.main.storage.model.User,             com.scut.gof.coordinator.main.storage.model.Post ,             com.scut.gof.coordinator.main.storage.model.Schedule" />

        <receiver android:name=".main.receiver.MyJPushReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <category android:name="com.scut.gof.coordinator" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityStyle"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".main.activity.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".main.activity.TestUploadPicsActivity" />
        <activity
            android:name=".main.activity.task.TaskDetailActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activity.CreateProActivity"
            android:label="新建项目"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".main.activity.ProjectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activity.user.UserinfoActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activity.base.ImageBrowserActivity"
            android:label="查看图片"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.task.CreateTaskActivity"
            android:label="新建任务"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".main.activity.task.MyTaskActivity"
            android:label="我的任务"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.task.TaskCategorySelectorActivity"
            android:label="任务分类"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.user.TaskPartnersActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.task.TaskHierarchyActivity"
            android:label="任务列表"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activity.user.UserListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activity.PostListActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activity.NewPostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.JoinProActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivityStyle"/>
        <activity
            android:name=".main.activity.ScheduleListActivity"
            android:label="@string/action_schedule"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".main.activity.AddScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.activity.ScheduleDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".qcode.zxing.activity.CaptureActivity" />
        <activity android:name=".qcode.androidzhang.zxingframe.CheckResult" />
        <activity android:name=".qcode.androidzhang.zxingframe.ZxingFrame" />
        <activity android:name=".libs.nereo.multi_image_selector.MultiImageSelectorActivity" />

        <!-- JPUSH -->
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.scut.gof.coordinator" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能 -->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process="cn.jpush.android.service.PushService">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.scut.gof.coordinator" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="db263ee1d6e75fd4211c75db" />
        <!-- JPUSH -->
        <service
            android:name=".main.service.UploadFileService"
            android:exported="false"></service>
    </application>

</manifest>
